.about {
  padding-top: 82px;
  padding-bottom: 105px;
  border: 1px solid blue;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 153px;
  border: 1px solid black;
}

.about__content {
padding-top: 68px;
}

.about__title {
  font-family: Inika;
  font-size: 40px;
  color: var(--accent-add-color);
  margin-bottom: 40px;
}


.about__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.about__img {
  border: 1px solid blue;
}
