.about {
  padding-top: 95px;
  padding-bottom: 92px;
  /* border: 1px solid blue; */
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 164px;
  /* border: 1px solid black; */
}

.about__content {
padding-top: 68px;
}

.about__title {
  font-family: Inika;
  font-size: 40px;
  line-height: 51px;
  color: var(--accent-add-color);
  margin-bottom: 38px;
}


.about__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.005em;
}

.about__img {
  /* border: 1px solid blue; */
}
