.city-card {  
  width: 448px;
  font-weight: 400;
  font-size: 16px;
  color: var(--title-text-color);
  margin-top: 47px;
  margin-left: auto;
  display: none;
}

.city-card_active {
  display: block;
}

.city-card__title {
  margin-bottom: 17px;
}

.city-card__wrapper {  
  width: 100%;  
  background-color: var(--background-color);
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 17px 76px 32px 33px;
}

.city-card__list {
  margin-bottom: 19px;
}

.item {
  display: flex;
  align-items: center;
  min-height: 40px;

}

.item__title {
  color: #000000;
  flex-basis: 130px;
}

.city-card__btn {
  display: block;
  font-family: Inica;
  font-weight: 700;
  font-size: 10px;
  max-width: 122px;
  color: var(--title-text-color);
  border: 1px solid var(--accent-add-color);
  padding: 7px 29px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
}

@media (max-width: 1000px) {
  .city-card__wrapper {
    padding-bottom: 20px;
  }
  .city-card {
    margin: 0 auto;
    margin-top: 40px;
    width: 67.5%;
  }
  .item {
    min-height: 36px;
  }
}

@media (max-width: 600px) {
  .city-card__wrapper {
    padding: 20px 6px 23px 36px;    
  }
  .city-card {
    width: 300px; 
    margin-top: 33px;  
  }
  .item__title {
    flex-basis: 65px;
  }
}

@media  (max-width: 360px) {
  .city-card {
    width: 250px;
    margin-top: 33px;  
  }
}