.contacts {
  padding-top: 64px;
  padding-bottom: 352px;
  background-color: var(--background-color);
  background-image: url("../assets/image/contact_woman1.png");
  background-repeat: no-repeat;
  background-position: bottom left 109px;
}

.contacts__title {
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;  
  text-align: center;
  margin-bottom: 39px;
}

.select {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-left: auto;
  width: 450px;
  height: 50px;
  color: var(--title-text-color);
  background-color: var(--select-color);  
  font-size: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 21px;  
  cursor: pointer;
}

.select:after {  
  content: "";  
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--select-color-round);
  background-image: url("../assets/image/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 35px;
}

.select:active,
.select:focus {
  background-color: #c1e698;
  box-shadow: none;
}

.select:active:after, 
.select:focus:after {  
  transform: rotate(180deg);
  background-color: #8Ba07e;
}