.header {
  font-family: Inika;
  color: var(--links-color);
  background-color: var(--background-color);
  padding-top: 52px;
  padding-bottom: 65px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  color: var(--dark-text-color);
  display: flex;  
  align-items: baseline;
}

.header__logo:before{
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../assets/image/logo_vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  
}

.nav__list {
  display: flex;  
  gap: 47px;
}

.nav__item:hover {
  color: var(--accent-add-color);
  transition: color 0.2s ease;
}
