:root {
  --background-color: #edf2ec;
  --main-text-color: #636060;
  --dark-text-color: #000000;
  --title-text-color: #717171;

  --links-color: #010201;
  --accent-main-color: #499a18;
  --accent-add-color: #e06733;
  --border-color: #e3e1d5;
  --select-color: #d6e7d2;
  --select-color-round: #aea1a1;
}