.welcome {
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 95px;
}

.welcome__container {
  background-image: url("../assets/image/leafs_header.png");
  background-repeat: no-repeat;
  background-position: 99px 0;  
}

.welcome__inner {
  width: 45%;
  margin-right: 0;
  margin-left: auto;
}

.welcome__title {
  padding-top: 42px;
  font-size: 45px;
  font-weight: 700;
  color: var(--title-text-color);
  line-height: 50px;
  margin-bottom: 44px;
}

.color {
  color: var(--accent-main-color);
}

.welcome__text {
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 35px;
  padding-right: 20px;
  margin-bottom: 46px;
}

.welcome__link {  
  display: block;
  text-transform: uppercase;
  width: 159px;
  padding: 11px 26px 9px 26px;
  border-radius: 10px;
  border: 2px solid var(--accent-add-color);
}

.welcome__link:hover {  
  border-color: var(--accent-main-color);  
  transition: border-color 0.2s ease;
}

.welcome__link:active {
  background-color: var(--accent-add-color);  
  border-color: var(--accent-add-color);
}

@media (max-width:1200px) {
  .welcome__container {
    background-size: 35%;
  }    
  .welcome__inner {
    width: 55%;
  }
}

@media (max-width:1000px) {

  .welcome__container {
    background-image: none;
  }
  .welcome__inner {
    width: 60%;    
    margin-left: 0; 
  }
  
.welcome__title {
  padding-top: 0;
  font-size: 35px;  
  margin-bottom: 35px;
}
.welcome__text { 
  font-size: 16px;
  padding-left: 6px;
  line-height: 25px;
  margin-bottom: 40px;
}
}

@media (max-width:860px) {
  .welcome {
    padding-bottom: 96px;
  }
  .welcome__inner {
    width: 55%;        
  }
  .welcome__link {  
    padding-left: 24px;    
    padding-bottom: 10px;    
  }
}


@media (max-width:1200px) {

}
@media (max-width:1200px) {

}
@media (max-width:1200px) {

}
@media (max-width:1200px) {

}